@import url(variables.css);
*{
    padding: 0;
    margin: 0;
}

header{
    background-color: red;
    width: 100%;
    height: 100px;
    position: relative;
}
.menu{
    background-color: aqua;
    width: 100%;
    height: 100px;
    position: relative;
    /* display: inline-block; */
}
.menu_item1{
    background-color: hotpink;
    display: inline-block;
    position: absolute;
    text-align: center;
}
.menu_item2{
    background-color:blueviolet;
    display: inline-block;
    position: absolute;
    /* left: 50px; */
    /* top: 50px; */
    width: var(--logo-width);
    height:var(--logo-height);
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.menu_item3{
    background-color: chartreuse;
    display: inline-block;
    position: absolute;
    right: 0;
    text-align: center;
}
.menu_item1 li, .menu_item3 li{
    background-color: blue;
    display: inline-block;
    margin: 0 16px;
    /* width: 100px; */
}
.menu_item2 img{
    width: var(--logo-width);
    height:var(--logo-height);
    object-fit: contain;
    list-style: none;
}